@model TE.AuthLib.User
@{
    ViewData["Title"] = "Index";
}
@{
    // TODO 03 (View): Create the Index View to show the user Information about the user account
}

<h2>Index</h2>

<p>Welcome @Model.Username</p>