@model List<SurveyResultsViewModel>
@{
    ViewData["Title"] = "SurveyResults";
}

<h1>Survey Results</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Park Name</th>
            <th>Park Location</th>
            <th>Climate</th>
            <th>Number of Votes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SurveyResultsViewModel vm in Model)
        {
            <tr>
                <td><img src="~/img/parks/@(vm.ParkCode).jpg" /></td>
                <td>@vm.ParkName</td>
                <td>@vm.ParkLocation</td>
                <td>@vm.ParkClimate</td>
                <td>@vm.NumVotes</td>
            </tr>
        }
    </tbody>
</table>
