@model IList<Park>
@{
    ViewData["Title"] = "Index";
}

@foreach(Park park in Model)
{
    <div>
        <img src="~/img/parks/@(park.ParkCode).jpg"/>
        <div>
            <h2>@park.ParkName</h2>
            <p>@park.State</p>
            <p>@park.ParkDescription</p>
        </div>
    </div>
}

